/khayyam

node_modules

__debug_bin

npm/
tmp/

snapshot/**/*.js
snapshot/**/*.map
snapshot/**/*.json
snapshot/**/stderr
snapshot/**/stdout
snapshot/**/yarn-lock

dist/

examples/new/a
examples/new/b

examples/clean-architecture/business-rules
examples/clean-architecture/apps
examples/clean-architecture/adapters
